.mod{
    display: inline-block;
    padding-left: 10px;
}

.mod-align{
    padding-right: 10px;
}

.main__list-head{
    font-size: 19px;
    vertical-align: 50%;
}

.main__list-temperature{
    font-size: 19px;
    vertical-align: 50%
}
