@import url('commonWeather.scss');

.weatherContainer{
    display: flex;
	justify-content: center;
    
    &__link:active{
        outline: none;
        opacity: 0.6;
    }

    &__link:hover {
    // -webkit-transform: scale(1.1);
    // -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
}


.weatherDescription{
    background-color: rgba(75, 37, 37, 0.25);
    box-shadow: 1px 1px 5px black;
    border-radius: 10px;
    width: 315px;
    color: #fff;
    display: block;

    &__cityTitle{
    text-align: center;
    padding-top: 15px;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    &__main{
    display: block;
    margin-bottom: 10px;
    }
}





.weatherDescription__other{
    display: block;
    font-size: 17px;
    text-align: right;
}

.humidity{
    padding-bottom: 10px;
}

.main__list-icon_pic{
    // vertical-align: 50%;
    display: inline-block;
    width: 35px;
    height: 35px;
}